# Base de datos
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.xxxxx.supabase.co:5432/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:[PASSWORD]@db.xxxxx.supabase.co:5432/postgres

# Supabase
SUPABASE_URL=https://xxxxx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Servidor
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
BASE_URL=https://invoiceapp.gargurevich.com

# JWT
JWT_SECRET=tu_secreto_jwt_muy_largo_y_seguro

# Resend Email API
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=noreply@gargurevich.com
RESEND_FROM_NAME=InvoiceApp
